name: CI/CD for GitHub Pages

on:
  workflow_dispatch:  # дозволяє запускати вручну
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Clean old build
        run: rm -rf build

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        # CI=false щоб warning-и eslint не ставали помилками
        run: CI=false npm run build

      - name: Check for symlinks in build
        run: |
          echo "Checking for symlinks in build folder..."
          find build -type l
          echo "If above returns any paths, remove them before deploying."
          
      - name: Remove symlinks
        run: find build -type l -exec rm -v {} \;

      - name: Remove system files
        run: |
          find build -name ".DS_Store" -delete
          find build -name "Thumbs.db" -delete

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: github-pages